<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight View</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="/styles/flight_list.css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="employee-header">
        <div class="field"><span class="label">Employee Name: <%= employee.first_name %> <%= employee.last_name%></span></div>
        <div class="field"><span class="label">Employee ID: <%= employee.staff_id %></span></div>
    </div>
    <div class="flight-list-container">
        <h2 class="section-title">Assigned Flights</h2>
        <% if (flights && flights.length > 0) { %>
            <% flights.forEach(function(flight) { %>
        <form action="/staff/tabular-view" method="POST">
            <input type="hidden" name="flight_number" value="<%= flight.flight_number %>">
            <button type="submit">
                <div class="flight-card" >
                    <div class="group-airline">
                        <span class="highlight large"><%= flight.flight_number%> </span>
                    </div>
                    <div class="center-section">
                        <div class="info-col">
                            <span class="highlight time"><%= flight.dept_time %> - <%= flight.arrival_time %></span>
                            <span class="sub-text date"><%= flight.date.toISOString().split('T')[0]%> </span>
                        </div>
                        <div class="info-col">
                            <span class="highlight duration"><%= flight.status %></span>
                            <span class="sub-text route"><%= flight.dept_airport %> - <%= flight.arrival_airport %></span>
                        </div>
                    </div>
                    <div class="group-status">
                        <span class="status-text">Direct</span>
                    </div>
                </div>
            </button>
        </form>
        <% })} %>
    </div>

</body>
</html>