<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Anuti Airlines · Flight View</title>
  <link rel="stylesheet" href="/styles/flight_view.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Corben:wght@400&display=swap" rel="stylesheet">
</head>
<body>
  <%- include("partials/navbar.ejs") %>
  <div class="content-wrapper">
    <nav class="nav-container">
      <button class="nav-item active">FLIGHT VIEW</button>
      <button class="nav-item" onclick="window.location.href='/staff/tabular-view'">TABULAR VIEW</button>
      <button class="nav-item" onclick="window.location.href='/staff/extended-view'">EXTENDED VIEW</button>
    </nav>
  <main class="content">
    <% function getAircraftName(aircraft) {
      let aircraft_name; 
      if (aircraft && aircraft.family_name && aircraft.variant_name) {
        if (aircraft.variant_name.startsWith('-')) {
          return aircraft_name = aircraft.family_name + aircraft.variant_name;
        } else {
          return aircraft_name = aircraft.variant_name;
        }
      }
      else{
        return 'Flight View';
      }
    } %>
    <h1><%= getAircraftName(aircraft); %></h1>  
    <div class="cabin-wrapper">
      <!-- BUSINESS -->
      <section class="cabin cabin-business" aria-label="Business cabin">
        <h2 class="cabin-title">Business</h2>
        <div class="seat-grid">
          <% const businessLayout = aircraft.business_passenger_layout; %>
          <% const businessCap = aircraft.business_passenger_capacity; %>
          <% const businessRowLen = businessLayout.reduce((a, b) => a + b, 0); %>
          <% const businessRows = Math.ceil(businessCap / businessRowLen); %>
          <% let businessSeatsCreated = 0; %> 
          <% for(let r = 1; r <= businessRows; r++){ %>
            <div class="seat-row">
              <% let charCode = 65; %>
              <% businessLayout.forEach(blockSize =>{ %>
                <div class="seat-group">
                  <% for(let s = 0; s < blockSize; s++){ %>
                    <% if (businessSeatsCreated < businessCap){ %>
                      <% let seatCode = r + String.fromCharCode(charCode); %>
                      <div class="seat seat-business" id="<%= seatCode %>"><%= seatCode %></div>
                      <% businessSeatsCreated++; } else { %>
                        <div class="seat seat-placeholder" style="visibility:hidden"></div>
                      <% } charCode++; } %>
                </div>
              <% }); %>
            </div>
          <% } %>
        </div>
      </section>
      <section class="cabin cabin-basic">
        <h2 class="cabin-title">Basic</h2>
        <div class="seat-grid">
          <% const economyLayout = aircraft.economy_passenger_layout; %>
          <% const economyCap = aircraft.economy_passenger_capacity; %> 
          <% const economyRowLen = economyLayout.reduce((a, b) => a + b, 0); %>
          <% const economyRows = Math.ceil(economyCap / economyRowLen); %>
          <% const startRow = businessRows + 1; %>
          <% let economySeatsCreated = 0; %>
          <% for(let r = 0; r < economyRows; r++) { %>
            <% let currentRow = startRow + r; %> 
            <div class="seat-row">
              <% let charCode = 65; %>
              <% economyLayout.forEach(blockSize => { %>
                <div class="seat-group">
                  <% for(let s = 0; s < blockSize; s++) { %>
                    <% if (economySeatsCreated < economyCap) { %>
                     <% let seatCode = currentRow + String.fromCharCode(charCode); %>
                      <div class="seat seat-basic" id="<%= seatCode %>"><%= seatCode %></div>
                  <% economySeatsCreated++; } else { %>
                    <div class="seat seat-placeholder" style="visibility:hidden"></div>
                  <% } charCode++; } %>
                </div>
              <% }); %>
            </div>
          <% } %>
        </div>
      </section>
    </div>

    <div class="legend">
      <span><div class="legend-box legend-free"></div> Free</span>
      <span><div class="legend-box legend-taken"></div> Taken</span>
    </div>

    <div class="seat-tooltip" id="seat-tooltip">
      <div class="seat-tooltip-row">
        <span>
          <span class="tooltip-label">Name:</span>
          <span class="tooltip-value" id="tooltip-name"></span>
        </span>
        <span>
          <span class="tooltip-label">Gender:</span>
          <span class="tooltip-value" id="tooltip-gender"></span>
        </span>
      </div>
      <div class="seat-tooltip-row">
        <span>
          <span class="tooltip-label">Nationality:</span>
          <span class="tooltip-value" id="tooltip-nationality"></span>
        </span>
        <span>
          <span class="tooltip-label">Age:</span>
          <span class="tooltip-value" id="tooltip-age"></span>
        </span>
      </div>
    </div>
</main>


<!-- this script is static has no EJS influence -->
  <script> 
    const tooltip = document.getElementById("seat-tooltip");
    const tooltipName = document.getElementById("tooltip-name");
    const tooltipGender = document.getElementById("tooltip-gender");
    const tooltipNationality = document.getElementById("tooltip-nationality");
    const tooltipAge = document.getElementById("tooltip-age");
    const container = document.querySelector(".content");

    function addDetails(seatID, name, gender, nationality, age) {
       const sID = document.getElementById(seatID);
      sID.dataset.name = name;
      sID.dataset.gender = gender;
      sID.dataset.nationality = nationality;
      sID.dataset.age = age;
      sID.classList.add("legend-taken");
    
      sID.addEventListener("mouseenter", () => showTooltip(sID));
      sID.addEventListener("mouseleave", hideTooltip);
      sID.addEventListener("focus", () => showTooltip(sID));
      sID.addEventListener("blur", hideTooltip);
   
    }
    //addDetails("6C","wissam","Male","Turkish","34");
    //addDetails("20F","abdulrahman the gigachad","Male","Turkish","34");
    //addDetails("12A","mustafa","Male","Turkish","34");
    

    function showTooltip(seat) {
      const name = seat.dataset.name || "";
      const gender = seat.dataset.gender || "";
      const nationality = seat.dataset.nationality || "";
      const age = seat.dataset.age || "";

      tooltipName.textContent = name;
      tooltipGender.textContent = gender;
      tooltipNationality.textContent = nationality;
      tooltipAge.textContent = age;

      const seatRect = seat.getBoundingClientRect();
      const containerRect = container.getBoundingClientRect();

      const centerX = seatRect.left - containerRect.left + seatRect.width / 2;
      const top = seatRect.top - containerRect.top;

      tooltip.style.left = centerX + "px";
      tooltip.style.top = top + "px";
      tooltip.style.display = "block";
    }

    function hideTooltip() {
      tooltip.style.display = "none";
    }
  </script>

<!-- this script will add people from database into the seats -->
  <script>
    function calculateAge(dateString) {
      const today = new Date();
      const birthDate = new Date(dateString);
      let age = today.getFullYear() - birthDate.getFullYear();
      const monthDiff = today.getMonth() - birthDate.getMonth();
      const dayDiff = today.getDate() - birthDate.getDate();
      if (monthDiff < 0 || (monthDiff === 0 && dayDiff < 0)) {
          age--;
      }
      return age; 
  }

    // this will show an error but it is correct VSC just thinks it does not belong here
    const passengers = <%- JSON.stringify(passengers) %>;
    passengers.forEach(p => {
    const pSeatID = p.seat_number;
    const pName = `${p.first_name} ${p.last_name}`;
    const pGender = p.gender;
    const pNationality = p.nationality;
    const pAge = calculateAge(p.birth_date);


    console.log(addDetails(pSeatID, pName, pGender, pNationality, pAge));
    });
  </script>

</body>
</html>
